.grid-container {
  display: grid;
}

.col-auto-fil {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.book-card {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  width: 150px;
  height: 200px;
  padding: 2rem 1rem;
}
.book-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0.5rem black;
}

#body-div {
  width: max(640px, 80vw);
  margin: auto;
}
