.grid-container {
  display: grid;
}

.col-auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#book-grid {
  gap: 2rem;
}

.book-card {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  max-width: 200px;
  padding: 2rem;
  margin: 1rem;
}
.book-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0.5rem black;
}

#body-div {
  width: max(640px, 80vw);
  margin: auto;
}

#book-form {
  max-width: 720px;
  position: absolute;
  margin: auto;
  border-style: solid;
  border-radius: 1rem;
  border-width: 1px;
  padding: 1rem;
  background-color: lightgray;
}
